# Godot
.godot/
*.uid
*.import

# Build artifacts
__pycache__/
*.obj
*.o
*.dll
*.so
*.dylib
*.wasm
*.exp
*.lib
*.pdb
.sconsign.dblite
*.os

# Binaries in project/bin/ (built by scons)
project/bin/*.dll
project/bin/*.so
project/bin/*.dylib
project/bin/*.wasm
project/bin/*.exp
project/bin/*.lib

# Export
# export_presets.cfg SHARED EXPORT SETTINGS
project/build/*
!project/build/.gdignore
project/web/index*
project/web/*.import
project/web/libcircuit_sim*.wasm
project/web/version.txt
project/web/pdks/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


# Library folders
project/schematics/
project/symbols/
!project/symbols/
project/symbols/*
!project/symbols/sym/
project/symbols/sym/*
!project/symbols/sym/button/
!project/symbols/sym/button/button.sym
